html {
    overflow-y:scroll;
}

body:first-child {
    opacity: 0.99;
}

h3 {
    float: left;
    margin-bottom: 10%;
}

/*############# Navbar ######################################*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #5E4485;
}
.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}

/*############## Table ######################################*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}

#eventTable tr:nth-child(even) {
    background-color: #888888;
}

/*########################## Dropdown ##########################*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*###################### List View ##################*/
.calenderList {
    border-collapse: separate;
    width: 100%;
    border: 1px;
}

.tableRows:hover {
    background-color: #5E4485;
}

.listView {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

.list {
    height: 100%;
    width: 90%;
    left: 5%;
    background-color: white;
    position: absolute;
    z-index: 2;

}

/*#################### Entry Details #################*/
.entryDetails {
    z-index: 1;
    width: 40%;
    height: 70%;
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -175px;
}

#entryTable {
    margin: 5%;
}

.createEntry {
    position: absolute;
    height: 100%;
    width: 90%;
    left: 5%;
    z-index: 1;
    background-color: white;
}

#editCategoryIcon {
    float: right;
}

.iconButton {
    float:right;
    cursor: pointer;
    margin: 10px;
}

.iconButton:hover {
    box-shadow: 0px 8px 16px 0px rgba(50,100,0,0.2);
}

/*################## Category Container ##############*/
.newCategory {
    z-index: 1;
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: green;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
}

#displayCategories {
    margin-top: 40px;
    position: absolute;
}

/*###################### Month View ##############*/
.monthView {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 90%;
    left: 5%;

}




























