fhtml {
    overflow-y: scroll;
}

body {
    background-color: #F0F8FF;
}

body:first-child {
    opacity: 0.99;
}

h3 {
    float: left;
    float: left;
    margin-bottom: 10%;
}

/*############# Navbar ######################################*/
.navbar {
    margin-bottom: 0;
    background-color: #87CEEB;
    color: #000000;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
    border-radius: 0px 0px 0px 70px;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #000000;
    background-color: #4169E1;
    border-radius: 10px;
}

.navbar-inverse .navbar-nav li a {
    color: #000000;
}

#logo {
    margin-left: -5%;
    margin-top: -13%;
}

/*############## Table ######################################*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #87CEEB;
}

tr:nth-child(odd) {
    background-color: #F0F8FF;
}

#eventTable tr:nth-child(even) {
    background-color: #87CEEB;
}

#eventTable tr:nth-child(odd) {
    background-color: #F0F8FF;
}

#eventTable tr.selected {
    background-color: #4169E1;
}
/*########################## Dropdown ##########################*/
.dropbtn {
    background-color: #4169E1;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.dropdown:hover .dropbtn {
    background-color: #87CEEB;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*###################### List View ##################*/
.calenderList {
    margin-top: 4%;
    border-collapse: separate;
    width: 100%;
    border: 1px;
}

#sortBtn {
    margin-left: 100px;
}

.tableRows:hover {
    background-color: #4169E1;
}

.listView {
    width: 100%;
    height: 100%;
    background-color: #F0F8FF;
    position: absolute;
    z-index: 2;
}

.list {
    height: 100%;
    width: 90%;
    left: 5%;
    background-color: #F0F8FF;
    position: absolute;
    z-index: 2;

}

/*#################### Entry Details #################*/

#entryTable {
    margin: 5%;
}

.createEntry {
    position: relative;
    height: 100%;
    width: 90%;
    z-index: 1;
    background-color: #F0F8FF;
    left: 5%;
}

.editCategoryIcon {
    position: relative;
    margin-top: 50px;
}

.iconButton {
    float: right;
    cursor: pointer;
    margin: 10px;
}

.iconButton:hover {
    box-shadow: 0px 8px 16px 0px rgba(50, 100, 0, 0.2);
}

#detailsHeader {
    height: 2%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*################## Category Container ##############*/
.displayCategories {
    margin-top: 50px;
    position: absolute;
}

/*###################### Month View ##############*/
.monthView {
    position: absolute;
    width: 90%;
    left: 5%;
    background-color: #F0F8FF;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
}

/*##################### New Entry ###################*/

#displayCategories {
    height: 25px;
    width: 220px;
    margin-top: 3px;
    margin-left: 30px;
    position: relative;
    overflow-y: auto;
    padding-bottom: 3px;
    padding-top: 2px;
}

#editCategory {
    margin-top: -23px;
    margin-left: -5px;
}

.imageContainer {
    position: relative;
    width: 50%;
}

#imagePreview {
    opacity: 1;
    display: block;
    width: 300px;
    height: 200px;
    background-image: url("../img/logo.png");
    background-size: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.fadeinContainer {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.imageContainer:hover #imagePreview {
    opacity: 0.3;
}

.imageContainer:hover .fadeinContainer {
    opacity: 1;
}

#imageForm {
    width: 600px;
    background: #ccc;
    margin: 0%;
    padding: 1%;
    border: 1px solid black;
}

/*############################### Picture Selection Field ###########*/
form li, div > p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
}

form p {
    line-height: 32px;
    padding-left: 10px;
}

form label, form button {
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

label {
    font-size: large;
    cursor: default;
}

form label:hover, form button:hover {
    background-color: #2D5BA3;
    color: white;
}

form label:active, form button:active {
    background-color: #0D3F8F;
    color: white;
}

.form-row {
    padding: 1%;
    background-color: #F0F8FF;
}

.form-group {
    background-color: #F0F8FF;
}


.modal-dialog{
    width: 599px;
}
.modal-sm {
    width: 299px;
}
.modal-header {
    background-color: #87CEEB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    border-bottom: 0px solid #F0F8FF;
}

.modal-body {
    min-height: 200pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F0F8FF;
    position: relative;
    padding: 15px;
}