html {
    overflow-y:scroll;
}

body:first-child {
    opacity: 0.99;
}

h3 {
    float: left;
    margin-bottom: 10%;
}

/*############# Navbar ######################################*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #5E4485;
}
.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}

/*############## Table ######################################*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: white;
}

#eventTable tr:nth-child(even) {
    background-color: #888888;
}

/*########################## Dropdown ##########################*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*###################### List View ##################*/
.calenderList {
    border-collapse: separate;
    width: 100%;
    border: 1px;
}

.tableRows:hover {
    background-color: #5E4485;
}

.listView {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

.list {
    height: 100%;
    width: 90%;
    left: 5%;
    background-color: white;
    position: absolute;
    z-index: 2;

}

/*#################### Entry Details #################*/
.entryDetails {

}

#entryTable {
    margin: 5%;
}

.createEntry {
    position: absolute;
    height: 100%;
    width: 90%;
    left: 5%;
    z-index: 1;
    background-color: white;
}

#editCategoryIcon {
    position: absolute;
    margin-top: 50px;

}

.iconButton {
    float:right;
    cursor: pointer;
    margin: 10px;
}

.iconButton:hover {
    box-shadow: 0px 8px 16px 0px rgba(50,100,0,0.2);
}

#detailsHeader{
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/*################## Category Container ##############*/
.newCategory {

}

#displayCategories {
    margin-top: 50px;
    position: absolute;
}

/*###################### Month View ##############*/
.monthView {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 90%;
    left: 5%;

}

/*##################### New Entry ###################*/

.imageContainer {
    position: relative;
    width: 50%;
}

#imagePreview {
    opacity: 1;
    display: block;
    width: 300px;
    height: 200px;
    background-image: url("../img/w3newbie.png");
    background-size: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.fadeinContainer {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.imageContainer:hover #imagePreview {
    opacity: 0.3;
}

.imageContainer:hover .fadeinContainer {
    opacity: 1;
}


#imageForm {
    width: 600px;
    background: #ccc;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

/*############################### Picture Selection Field ###########*/
form li, div > p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
}


form p {
    line-height: 32px;
    padding-left: 10px;
}

form label, form button {
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

form label:hover, form button:hover {
    background-color: #2D5BA3;
    color: white;
}

form label:active, form button:active {
    background-color: #0D3F8F;
    color: white;
}




























